@CHARSET "ISO-8859-1";

header{
	margin: 0px 0px 4px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-size: 300%;
   
    /*border-radius: 10px;
    border: 2px solid #73AD21;*/
    background-color:#cccccc;
    color: #73AD21;
}

body {
	padding: 0px;
	margin: 0px; 
	
}

nav {
	position: fixed;
    bottom: 0px;
    z-index: 100;
	width: 100%;
	height: 35px;
	padding: 5px 10px 5px 10px;
	margin: 0px; 
	font-size: 80%;
	background-color:#cccccc;
}




main {
	width: 100%; 
}

body {
	background-color:white;
    font-family: Arial, sans-serif;
    color: #000000;
}

/* name */


section.name h1 {
	display: inline-block;
	text-align: left;
	font-size: 250%;
	margin: 0px;	
}

section.name p  {
	display: inline-block;
    float: right;
    width: 24%;
   	margin: 10px 10px 10px 10px;    
}

/* main */

main h2 {
	text-align: center;
	font-size: 150%;
}


section.intro{
	/*border-radius: 25px;
    border: 2px solid #73AD21;*/
    padding: 10px 10px 10px 10px;
    margin : 20px 0px 20px 0px;
	text-align: justify;
}

h4 {
	display: inline-block;
	font-size: 90%;
	text-align: left;
	margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    	
}

span {
	width: 100%;
   /*heigth: auto;
    float: rigth; */	
	font-size: 80%;
	margin: 0px 0px 0px 50px;
}



cite {
	width: 100%;
   /*heigth: auto;*/
	font-size: 80%;
	margin: 0px 30px 0px 0px;
}



section.h{
	border-radius: 25px;
    border: 2px solid #73AD21;
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}


ul{
	margin: 0px 0px 0px 0px;		
}


/* mainList */

ul.mainList {
	margin: 0px 5px 50px 0px;
	padding: 0px 0px 0px 0px;	
	list-style-image: none;   
}


li{
	position: relative;
    
    /* border-radius: 25px;*/
  /* border: 1px solid #73AD21;*/
    margin: 0px 0px 0px 10px;
   /* padding: 0px 30px 0px 0px;*/
    list-style-type:none;
    /*list-style-image: url('style1/bullet-.svg');*/
   /* background-color:#00ffff;*/
    color: #000000;
}

li.mainList{
	display: inline-block;
	vertical-align: super;
	float:left;
	width: 45%;
	border: 2px solid #000000;
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 5px 0px;
    list-style-type:none;
    background-color:#ffffff;
    color: #000000;
    
}

/*
li.mainList:nth-child(3n+3){
  margin: 0 0 0 -50%;
}
*/
/*
li.mainList:nth-child(3n+3) {
  margin: 400px 0 0 -110px;
}*/


/* input CheckResum */
input.checkResum {
	width: 22px;
	height: 22px;
	margin: 0px 0px 0px 22px;
	position: absolute;
	right: 22px;
	z-index: 2;
	opacity: 0;
	cursor: pointer;
}

input.checkResum + ::before{
	position: absolute;
	right: 22px;
	vertical-align: middle;
	width: 22px;
	height: 22px;
	content: url("style1/resumbox.svg");
}


input.checkResum:checked + ::before{
	content: url("style1/resumboxCheck.svg");
}



/* input viewHide */
input.viewHide {
	position: absolute;
	top: 0px;
	left: -25px;
	width: 40px;
	height: 40px;
	z-index: 2;
	opacity: 0;
	cursor: pointer;
}

input.viewHide +spam{
	position: absolute;
	top: 0px;
	left: -25px;
	width: 40px;
	height: 40px;
	opacity: 1;
	background-image: url("style1/viewHideBoxHide.svg");
	background-repeat: no-repeat;    
}

li.mainList > input.viewHide {
	top: 20px;
	left: 20px;	
}

li.mainList > input.viewHide +spam{
	top: 20px;
	left: 20px;	
}

input.viewHide:checked +spam+ ul{
	display: none;
}

input.viewHide:checked +spam{
	background-image: url("style1/viewHideBoxView.svg");
}



/* nav  */
nav spam{
	display: inline-block;
	float: left;
		
}


nav section.bp{
	display: inline-block;
	float: left;	
}

nav boutton {
	padding: 0px;
	margin: 0px;
}
 
/* resumList */

section.resumList {
	position: fixed;
    bottom: 10px;
    z-index: 1;
	right: 25px;
	width: 500px;
	
	text-align: right;
		
    border-radius: 25px;
    border: 2px solid #4CAF50;
    padding: 2px 35px 2px 25px;
    margin : 0px 0px 0px 0px;
	background-color:#ffffff;
}



section.resumList h1{
	display: inline-block;
	float : left;
	padding: 0px;
	margin: 0px;
	}


	
section.resumList spam {
	display: inline-block;
	text-align: right;
	margin: 0px;
   	padding: 0px;
   	 
}

ul.resumListUl  {
	list-style-type: none;
	padding: 0px;
   	margin: 0px;
	}

ul.resumListUl li {
	background-color: inherit;
	border: none;
	text-align: left;
	color: white;
	margin: 0px;
    padding: 0px;
    
}	

section.resumListUl  {
	position: fixed;
    bottom: 35px;
    right: 25px;
	width: 525px;
    z-index: 1;
	visibility: hidden;
	opacity: 0;
    transition: opacity 1s;
   	padding: 25px 25px 25px 10px;
   	margin: 0px 0px 0px 0px;	
	
	text-align: left;
	background-color: black;
	color: white;
	border-width: 2px;
	border-color: #73AD21;
	border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: hidden;
    border-left-style: solid;
	border-radius: 25px 25px 0px 0px;
	
}

section.resumList:hover{
	background-color: black;
	color: white;
	border-radius: 0px 0px 25px 25px;
}

section.resumList:hover  section.resumListUl {
   visibility: visible;
   opacity: 1;
}

